h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
}
th {
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
td {
    text-align: center;
    border-style: solid;
}
h3 {
    text-align: center;
}